body,
html,
#root {
  height: 100%;
  width: 100%;
  font-family: Sans-Serif, Helvetica, Arial;
}

.background {
  background-image: url("/public/background.svg");
  background-size: cover;
  background-attachment: fixed;

  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
