.card {
  height: 20rem;
  width: 15rem;

  background-color: #fff;

  padding: 1rem;
  display: flex;
  flex-direction: column;

  color: #ee5522;
}

.card:hover {
  cursor: pointer;
}

.card-delete-button {
  background: transparent;
  border: none;
  padding: 0 0.1rem 0 0.1rem;
  display: block;
  margin-left: auto;
}

.card-delete-button:focus {
  background-color: rgba(238, 85, 34, 0.6);
  border-radius: 50%;
}

.card-delete-button:hover {
  background-color: rgba(238, 85, 34, 0.3);
  border-radius: 50%;
  cursor: pointer;
}

.card-body {
  flex-grow: 1;
  padding-top: 2rem;
  flex-direction: column;
  align-items: center;
}

.card-error {
  flex-grow: 1;
  font-weight: bolder;
}

.card a {
  color: inherit;
  text-decoration: none;
}

.card a:hover {
  color: #f7882b;
  text-decoration: none;
  cursor: pointer;
}

.card-data-title {
  overflow-wrap: break-word;
  text-align: center;
}

.card-data-content {
  text-align: center;
}
